Repository threatcode/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @threatcode/hammerhead, @threatcode/threatcode-open-source, @threatcode/tech-services, @threatcode/cloud-dev-ex, @threatcode/cloud-context, @threatcode/moose, @threatcode/mycelium, @threatcode/zenith, @threatcode/group-infrastructure-as-code, @threatcode/potion, @threatcode/nebula, @threatcode/tundra

update
  release-scripts/threatcode-mac.sh
  test/fixtures/homebrew/Cellar/threatcode/vX/.brew/snyk.rb
  test/jest/unit/threatcode-code/snyk-code-test.spec.ts
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source, @threatcode/zenith

up
  src/lib/iac/assets/threatcode-logo.ts
  test/smoke/spec/threatcode_fix_spec.sh
Owners: @threatcode/group-infrastructure-as-code, @threatcode/hammerhead, @threatcode/threatcode-open-source

Create dependabot.yml
  .github/dependabot.yml
Owners: @threatcode/hammerhead

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @threatcode/hammerhead

update
  src/lib/request/threatcode-http-client.ts
  test/smoke/spec/threatcode_auth_spec.sh
  test/smoke/spec/threatcode_monitor_spec.sh
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

update
  packages/threatcode-protect/bin/threatcode-protect
  test/smoke/spec/threatcode_test_spec.sh
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

up
  packages/threatcode-protect/src/lib/threatcode-api.ts
  test/fixtures/homebrew/Cellar/threatcode/vX/.brew/threatcode.rb
  test/fixtures/jsbin-snyk-config/.threatcode
  test/fixtures/protect-via-threatcode/.snyk
  test/fixtures/protect-via-threatcode/package.json
  test/fixtures/protect-via-threatcode/yarn.lock
  test/fixtures/qs-package/node_modules/threatcode-module/.jscsrc
  test/fixtures/qs-package/node_modules/threatcode-module/.npmignore
  test/fixtures/qs-package/node_modules/threatcode-module/.travis.yml
  test/fixtures/qs-package/node_modules/threatcode-module/LICENSE
  test/fixtures/qs-package/node_modules/threatcode-module/README.md
  test/fixtures/qs-package/node_modules/threatcode-module/lib/index.js
  test/fixtures/qs-package/node_modules/threatcode-module/package.json
  test/fixtures/qs-package/node_modules/threatcode-module/test/index.test.js
  test/fixtures/qs-package/node_modules/threatcode-resolve/.jscsrc
  test/fixtures/qs-package/node_modules/threatcode-resolve/.jshintrc
  test/fixtures/qs-package/node_modules/threatcode-resolve/.npmignore
  test/fixtures/qs-package/node_modules/threatcode-resolve/.nyc_output/60156.json
  test/fixtures/qs-package/node_modules/threatcode-resolve/.nyc_output/60159.json
  test/fixtures/qs-package/node_modules/threatcode-resolve/.travis.yml
  test/fixtures/qs-package/node_modules/threatcode-resolve/LICENSE
  test/fixtures/qs-package/node_modules/threatcode-resolve/README.mdown
  test/fixtures/qs-package/node_modules/threatcode-resolve/lib/index.js
  test/fixtures/qs-package/node_modules/threatcode-resolve/package.json
  test/fixtures/qs-package/node_modules/threatcode-tree/.npmignore
  test/fixtures/qs-package/node_modules/threatcode-tree/.travis.yml
  test/fixtures/qs-package/node_modules/threatcode-tree/LICENSE
  test/fixtures/qs-package/node_modules/threatcode-tree/lib/archy.js
  test/fixtures/qs-package/node_modules/threatcode-tree/lib/index.js
  test/fixtures/qs-package/node_modules/threatcode-tree/package.json
  test/fixtures/qs-package/node_modules/threatcode-tree/test/fixture-custom.txt
  test/fixtures/qs-package/node_modules/threatcode-tree/test/fixture.json
  test/fixtures/qs-package/node_modules/threatcode-tree/test/fixture.txt
  test/fixtures/qs-package/node_modules/threatcode-tree/test/index.test.js
  test/fixtures/qs-package/node_modules/threatcode-tree/travis_after_all.py
  test/fixtures/threatcode-config-no-version/.threatcode
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

up
  help/threatcode-cli-screenshot.png
  packages/threatcode-protect/test/unit/threatcode-file.spec.ts
  src/lib/iac/assets/threatcode-favicon.ts
  test/fixtures/jsbin-threatcode-config/.threatcode
  test/smoke/install-threatcode-binary-win.sh
Owners: @threatcode/hammerhead, @threatcode/group-infrastructure-as-code, @threatcode/threatcode-open-source

up
  cliv2/.threatcode
  packages/threatcode-protect/test/fixtures/no-matching-paths/.threatcode
  packages/threatcode-protect/test/fixtures/no-threatcode-file/README.md
  packages/threatcode-protect/test/fixtures/no-threatcode-file/expected_patchfile.patch
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/LICENSE.txt
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/README.md
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/index.js
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/node_modules/lodash/LICENSE
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/node_modules/lodash/README.md
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/node_modules/lodash/lodash.js
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/node_modules/lodash/lodash.js.4.17.15.bak
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/node_modules/lodash/package.json
  packages/threatcode-protect/test/fixtures/no-threatcode-file/node_modules/nyc/package.json
  packages/threatcode-protect/test/fixtures/no-threatcode-file/package-lock.json
  packages/threatcode-protect/test/fixtures/no-threatcode-file/package.json
Owners: @threatcode/hammerhead

up
  packages/threatcode-protect/test/fixtures/fix-pr/.threatcode
  packages/threatcode-protect/test/fixtures/single-patchable-module-patched-with-new-protect/.threatcode
  packages/threatcode-protect/test/fixtures/single-patchable-module-patched-with-old-protect/.threatcode
Owners: @threatcode/hammerhead

up
  packages/threatcode-protect/test/fixtures/single-patchable-module/.threatcode
  packages/threatcode-protect/test/fixtures/target-module-exists-but-no-patches-for-version/.threatcode
Owners: @threatcode/hammerhead

up
  help/_about-this-project/threatcode-code-signing-public.pgp
  packages/threatcode-protect/test/fixtures/multiple-matching-paths/.threatcode
  packages/threatcode-protect/test/fixtures/single-patchable-module-with-quotes/.threatcode
Owners: @threatcode/hammerhead

up
  package-lock.json
  packages/threatcode-protect/test/fixtures/single-patchable-module-patched-with-new-protect/node_modules/nyc/node_modules/lodash/lodash.js.snyk-protect.flag
  packages/threatcode-protect/test/fixtures/single-patchable-module-patched-with-new-protect/node_modules/nyc/node_modules/lodash/lodash.js.threatcode-protect.flag
Owners: @threatcode/hammerhead

up
  ts-binary-wrapper/test/util/prepareEnvironment.ts
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

up
  packages/threatcode-protect/test/fixtures/single-patchable-module-patched-with-new-protect/node_modules/nyc/node_modules/lodash/.threatcode-THREATCODE-JS-LODASH-567746.flag
Owners: @threatcode/hammerhead

up
  test/fixtures/pkg-SC-1472/node_modules/balanced-match/package.json
  test/fixtures/pkg-SC-1472/node_modules/brace-expansion/package.json
  test/fixtures/pkg-SC-1472/node_modules/concat-map/package.json
  test/fixtures/pkg-SC-1472/node_modules/debug/package.json
  test/fixtures/pkg-SC-1472/node_modules/minimatch/package.json
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

Update README.md
  README.md
Owners: @threatcode/hammerhead

Rename snyk to threatcode
  test/fixtures/qs-package/node_modules/.bin/snyk
  test/fixtures/qs-package/node_modules/.bin/threatcode
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

Rename snyk-resolve to threatcode-resolve
  test/fixtures/qs-package/node_modules/.bin/snyk-resolve
  test/fixtures/qs-package/node_modules/.bin/threatcode-resolve
Owners: @threatcode/hammerhead, @threatcode/threatcode-open-source

Rename .snyk to .threatcode
  test/fixtures/iac/policy/.threatcode
Owners: @threatcode/cloud-dev-ex

.github/CODEOWNERS:

*  @threatcode/hammerhead @threatcode/threatcode-open-source

# monorepo packages
packages/threatcode-fix/ @threatcode/tech-services
packages/threatcode-protect/ @threatcode/hammerhead
packages/cli-alert/ @threatcode/hammerhead
packages/iac-cli-alert/ @threatcode/cloud-dev-ex

README.md  @threatcode/hammerhead
CONTRIBUTING.md @threatcode/hammerhead
.circleci @threatcode/hammerhead

cliv2/ @threatcode/hammerhead
release-scripts/hcl-to-json-parser-generator/ @threatcode/cloud-dev-ex
release-scripts/hcl-to-json-parser-generator-v2/ @threatcode/cloud-dev-ex
src/cli/commands/test @threatcode/threatcode-open-source
src/cli/commands/monitor @threatcode/threatcode-open-source
help/  @threatcode/hammerhead
src/cli/commands/test/iac/ @threatcode/cloud-dev-ex
src/cli/commands/describe.ts @threatcode/cloud-context
src/cli/commands/update-exclude-policy.ts @threatcode/cloud-dev-ex
src/cli/commands/apps @threatcode/moose
src/lib/apps @threatcode/moose
src/lib/container @threatcode/mycelium
src/lib/plugins @threatcode/threatcode-open-source
test/fixtures/sast/ @threatcode/zenith
src/lib/plugins/sast/ @threatcode/zenith
test/jest/unit/threatcode-code/ @threatcode/zenith
src/lib/formatters/iac-output/ @threatcode/cloud-dev-ex
src/lib/iac/ @threatcode/group-infrastructure-as-code
src/lib/iac/test/ @threatcode/cloud-dev-ex
src/lib/threatcode-test/iac-test-result.ts @threatcode/cloud-dev-ex
test/fixtures/basic-apk/ @threatcode/mycelium
test/fixtures/container-app-vulns/ @threatcode/mycelium
test/fixtures/container-projects/ @threatcode/mycelium @threatcode/potion
test/fixtures/docker/ @threatcode/mycelium @threatcode/potion
test/fixtures/iac/ @threatcode/cloud-dev-ex
test/fixtures/iac/drift @threatcode/cloud-context
test/fixtures/iac/capture @threatcode/cloud-context
test/smoke/iac/ @threatcode/cloud-dev-ex
test/smoke/spec/threatcode_code_spec.sh @threatcode/zenith
test/smoke/spec/threatcode_basic_spec.sh @threatcode/hammerhead
test/smoke/.iac-data/ @threatcode/cloud-dev-ex
test/jest/unit/lib/endpoint-config-test.spec.ts @threatcode/nebula
test/jest/unit/lib/formatters/iac-output/ @threatcode/cloud-dev-ex
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @threatcode/hammerhead @threatcode/threatcode-open-source @threatcode/mycelium
test/jest/unit/iac/ @threatcode/cloud-dev-ex
test/jest/unit/cli/commands/test/iac @threatcode/cloud-dev-ex
test/jest/unit/lib/iac/drift/ @threatcode/cloud-context
test/jest/unit/lib/iac/test/ @threatcode/cloud-dev-ex
test/jest/acceptance/iac/ @threatcode/cloud-dev-ex
test/jest/acceptance/iac/describe.spec.ts @threatcode/cloud-context
test/jest/acceptance/iac/capture.spec.ts @threatcode/cloud-context
test/jest/acceptance/threatcode-apps @threatcode/moose
src/lib/code-config.ts @threatcode/nebula
src/lib/errors/describe-required-argument-error.ts @threatcode/cloud-context
src/lib/errors/describe-exclusive-argument-error.ts @threatcode/cloud-context
src/lib/errors/no-supported-sast-files-found.ts @threatcode/zenith
test/jest/util/ @threatcode/hammerhead
dangerfile.js @threatcode/hammerhead
/package.json @threatcode/hammerhead
/package-lock.json @threatcode/hammerhead
/config.default.js @threatcode/hammerhead
/webpack.common.js @threatcode/hammerhead
/webpack.dev.js @threatcode/hammerhead
/webpack.prod.js @threatcode/hammerhead
/tsconfig.json @threatcode/hammerhead
/tsconfig.settings.json @threatcode/hammerhead
CODEOWNERS @threatcode/hammerhead
/docker @threatcode/hammerhead
src/cli/commands/log4shell-hashes.ts @threatcode/tundra
src/cli/commands/log4shell.ts @threatcode/tundra
test/fixtures/unmanaged-log4j-fixture @threatcode/tundra
test/jest/acceptance/threatcode-log4shell/log4shell-detection.spec.ts @threatcode/tundra
test/jest/acceptance/threatcode-test/app-vuln-container-project.spec.ts @threatcode/mycelium
/.github @threatcode/hammerhead
/.github/workflows/iac-smoke-tests.yml @threatcode/cloud-dev-ex
/.github/workflows/iac-smoke-tests-pulls.yml @threatcode/cloud-dev-ex

# tap tests ownership
test/tap/cli-monitor/ @threatcode/threatcode-open-source
test/tap/cli-test/ @threatcode/threatcode-open-source
test/tap/args.test.ts @threatcode/hammerhead
test/tap/auth.test.ts @threatcode/hammerhead
test/tap/cli-fail-on-docker.test.ts @threatcode/hammerhead
test/tap/cli-fail-on-pinnable.test.ts @threatcode/threatcode-open-source
test/tap/cli-monitor.acceptance.test.ts @threatcode/threatcode-open-source
test/tap/cli-test.acceptance.test.ts @threatcode/threatcode-open-source
test/tap/cli.test.ts @threatcode/hammerhead
test/tap/container.test.ts @threatcode/potion
test/tap/display-test-results.test.ts @threatcode/threatcode-open-source
test/tap/docker-token.test.ts @threatcode/potion
test/tap/endpoint-config.test.ts @threatcode/hammerhead
test/tap/find-files.test.ts @threatcode/threatcode-open-source
test/tap/monitor-target.test.ts @threatcode/threatcode-open-source
test/tap/proxy.test.js @threatcode/hammerhead
test/tap/remote-package.test.ts @threatcode/threatcode-open-source
test/tap/request.test.ts @threatcode/hammerhead
test/tap/run-test.test.ts @threatcode/threatcode-open-source
test/tap/severity-threshold.test.ts @threatcode/threatcode-open-source
test/tap/sln-app.test.ts @threatcode/threatcode-open-source
test/tap/sub-process.test.js @threatcode/threatcode-open-source
test/tap/user-config.test.ts @threatcode/threatcode-open-source
test/tap/vulnerable-path-output.js @threatcode/threatcode-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @threatcode/hammerhead
test/tap/patch-fetch-fail.test.ts @threatcode/hammerhead
test/tap/cli-protect.test.ts @threatcode/hammerhead
test/tap/protect-apply-same-patch-again.test.js @threatcode/hammerhead
test/tap/protect-config.test.ts @threatcode/hammerhead
test/tap/protect-factors-pre-tarred.test.ts @threatcode/hammerhead
test/tap/protect-fail.test.js @threatcode/hammerhead
test/tap/protect-ignore.test.js @threatcode/hammerhead
test/tap/protect-patch-filter.test.js @threatcode/hammerhead
test/tap/protect-patch-order.test.ts @threatcode/hammerhead
test/tap/protect-patch-same-pkg.test.js @threatcode/hammerhead
test/tap/protect-semver-patch.test.ts @threatcode/hammerhead
